<?xml version="1.0" encoding="UTF-8"?>
<!--
  <copyright file="Libs.wxs" company="Microsoft Corporation">
    Copyright (c) 2004, Microsoft Corporation.
    This software is released under Common Public License Version 1.0 (CPL).
    The license and further copyright text can be found in the file LICENSE.TXT
    LICENSE.TXT at the root directory of the distribution.
  </copyright>
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="LibComponents">
            <ComponentGroupRef Id="LibX86Components" />
            <ComponentGroupRef Id="LibX64Components" />

            <?if "$(var.BuildIA64)"="true" ?>
            <ComponentGroupRef Id="LibIA64Components" />
            <?endif?>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="LibX86Components" Directory="SdkX86LibFolder">
            <Component>
                <File Name="dutil.lib" Source="dutil_$(var.VisualStudioTargetVersion).lib"/>
            </Component>
            <Component>
                <File Name="wcautil.lib" Source="wcautil_$(var.VisualStudioTargetVersion).lib"/>
            </Component>

            <Component>
                <File Name="balutil.lib" Source="balutil_$(var.VisualStudioTargetVersion).lib"/>
            </Component>
            <Component>
                <File Name="deputil.lib" Source="deputil_$(var.VisualStudioTargetVersion).lib"/>
            </Component>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="LibX64Components" Directory="SdkX64LibFolder">
            <Component>
                <File Id="dutil_x64.lib" Name="dutil.lib" Source="dutil_$(var.VisualStudioTargetVersion)_x64.lib"/>
            </Component>
            <Component>
                <File Id="wcautil_x64.lib" Name="wcautil.lib" Source="wcautil_$(var.VisualStudioTargetVersion)_x64.lib"/>
            </Component>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="LibIA64Components" Directory="SdkIA64LibFolder">
            <Component>
                <File Id="dutil_ia64.lib" Name="dutil.lib" Source="dutil_$(var.VisualStudioTargetVersion)_ia64.lib"/>
            </Component>
            <Component>
                <File Id="wcautil_ia64.lib" Name="wcautil.lib" Source="wcautil_$(var.VisualStudioTargetVersion)_ia64.lib"/>
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
