<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) Microsoft Corporation.  All rights reserved.
    
    The use and distribution terms for this software are covered by the
    Common Public License 1.0 (http://opensource.org/licenses/cpl1.0.php)
    which can be found in the file CPL.TXT at the root of this distribution.
    By using this software in any fashion, you are agreeing to be bound by
    the terms of this license.
    
    You must not remove this notice, or any other, from this software.
-->

<?include WixVer.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="BurnSdkComponents">
            <Component Directory="SdkDir">
                <File Source="BootstrapperCore.dll" />
            </Component>

            <Component Directory="SdkDir">
                <File Source="BootstrapperCore.config" />
            </Component>

            <Component Directory="SdkIncDir">
                <File Source="ext\BalExtension\balutil\inc\BalBaseBootstrapperApplication.h" />
            </Component>

            <Component Directory="SdkIncDir">
                <File Source="ext\BalExtension\balutil\inc\balcondition.h" />
            </Component>

            <Component Directory="SdkIncDir">
                <File Source="ext\BalExtension\balutil\inc\balretry.h" />
            </Component>

            <Component Directory="SdkIncDir">
                <File Source="ext\BalExtension\balutil\inc\balutil.h" />
            </Component>

            <Component Directory="SdkIncDir">
                <File Source="IBootstrapperApplication.h" />
            </Component>

            <Component Directory="SdkIncDir">
                <File Source="IBootstrapperEngine.h" />
            </Component>
            
            <?if $(var.Build2005)=true ?>
            <ComponentRef Id="balutil_2005.lib" />
            <ComponentRef Id="balutil_2005_x64.lib" />
            <?endif ?>

            <?if $(var.Build2008)=true ?>
            <ComponentRef Id="balutil_2008.lib" />
            <ComponentRef Id="balutil_2008_x64.lib" />
            <?endif ?>

            <?if $(var.Build2010)=true ?>
            <ComponentRef Id="balutil_2010.lib" />
            <ComponentRef Id="balutil_2010_x64.lib" />
            <?endif ?>
        </ComponentGroup>
    </Fragment>
    
    <Fragment>
        <Component Directory="SdkLibDir" DiskId="2">
            <File Source="balutil_2005.lib" />
        </Component>
        <Component Directory="SdkLibDir" DiskId="2">
            <File Source="balutil_2005_x64.lib" />
        </Component>
    </Fragment>
    <Fragment>
        <Component Directory="SdkLibDir" DiskId="2">
            <File Source="balutil_2008.lib" />
        </Component>
        <Component Directory="SdkLibDir" DiskId="2">
            <File Source="balutil_2008_x64.lib" />
        </Component>
    </Fragment>
    <Fragment>
        <Component Directory="SdkLibDir" DiskId="2">
            <File Source="balutil_2010.lib" />
        </Component>
        <Component Directory="SdkLibDir" DiskId="2">
            <File Source="balutil_2010_x64.lib" />
        </Component>
    </Fragment>
</Wix>