<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) Microsoft Corporation.  All rights reserved.
    
    The use and distribution terms for this software are covered by the
    Common Public License 1.0 (http://opensource.org/licenses/cpl1.0.php)
    which can be found in the file CPL.TXT at the root of this distribution.
    By using this software in any fashion, you are agreeing to be bound by
    the terms of this license.
    
    You must not remove this notice, or any other, from this software.
-->

<?include WixVer.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="SdkDir">
            <Component Id="Microsoft.Deployment.Compression" Guid="7459B739-5F67-4A34-9D52-65CA65D1B0AD" Win64="no">
                <File Source="Microsoft.Deployment.Compression.dll" KeyPath="yes" Vital="yes" />
                <File Source="Microsoft.Deployment.Compression.xml" Vital="yes" />
            </Component>
            <Component Id="Microsoft.Deployment.Compression.Cab" Guid="2076207A-F327-44A3-B95E-93E964C5B123" Win64="no">
                <File Source="Microsoft.Deployment.Compression.Cab.dll" KeyPath="yes" Vital="yes" />
                <File Source="Microsoft.Deployment.Compression.Cab.xml" Vital="yes" />
            </Component>
            <Component Id="Microsoft.Deployment.Compression.Zip" Guid="0A49DB5E-D7DF-46AF-BA19-6D524AE7BEC0" Win64="no">
                <File Source="Microsoft.Deployment.Compression.Zip.dll" KeyPath="yes" Vital="yes" />
                <File Source="Microsoft.Deployment.Compression.Zip.xml" Vital="yes" />
            </Component>
            <Component Id="Microsoft.Deployment.Resources" Guid="1366890F-15E8-4DD8-8947-4EBBA1979670" Win64="no">
                <File Source="Microsoft.Deployment.Resources.dll" KeyPath="yes" Vital="yes" />
                <File Source="Microsoft.Deployment.Resources.xml" Vital="yes" />
            </Component>
            <Component Id="Microsoft.Deployment.WindowsInstaller" Guid="6B3BD9A5-C29D-44A7-9246-D31CC5E51364" Win64="no">
                <File Source="Microsoft.Deployment.WindowsInstaller.dll" KeyPath="yes" Vital="yes" />
                <File Source="Microsoft.Deployment.WindowsInstaller.xml" Vital="yes" />
                <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework\AssemblyFolders\WiX $(var.WixMajorMinor)">
                  <RegistryValue Id="WixAssemblyFoldersRegValue" Type="string" Value="[SdkDir]" />
                </RegistryKey>
            </Component>
            <Component Id="Microsoft.Deployment.WindowsInstaller.Linq" Guid="F381E246-8720-4167-8612-D4008839EB8A" Win64="no">
                <File Source="Microsoft.Deployment.WindowsInstaller.Linq.dll" KeyPath="yes" Vital="yes" />
                <File Source="Microsoft.Deployment.WindowsInstaller.Linq.xml" Vital="yes" />
            </Component>
            <Component Id="Microsoft.Deployment.WindowsInstaller.Package" Guid="9C48F4AB-4DA7-4FFC-AB60-8276FCBA2150" Win64="no">
                <File Source="Microsoft.Deployment.WindowsInstaller.Package.dll" KeyPath="yes" Vital="yes" />
                <File Source="Microsoft.Deployment.WindowsInstaller.Package.xml" Vital="yes" />
            </Component>
            <Component Id="MakeSfxCA" Guid="2F322198-0AE7-4FBD-B965-2C165A54376A" Win64="no">
                <File Source="MakeSfxCA.exe" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="MakeSfxCAConfig" Guid="1F422198-2AE7-4FBD-B965-2C175A84376A" Win64="no">
                <File Source="MakeSfxCA.exe.config" KeyPath="yes" Vital="yes" />
            </Component>
            <Directory Id="SdkDir_x86" Name="x86">
              <Component Id="sfxca.dll_x86" Guid="E528C5E0-0FAD-4C81-8257-BE27ECE2D922" Win64="no">
                  <File Id="sfxca.dll_x86" Source="..\x86\sfxca.dll" KeyPath="yes" Vital="yes" />
              </Component>
            </Directory>
            <Directory Id="SdkDir_x64" Name="x64">
              <Component Id="sfxca.dll_x64" Guid="37BF2D6C-2FF2-4D38-9EB7-9E42FCC1233A" Win64="no">
                  <File Id="sfxca.dll_x64" Source="..\x64\sfxca.dll" KeyPath="yes" Vital="yes" />
              </Component>
            </Directory>
        </DirectoryRef>
        
        <PropertyRef Id="VS2005_IDE_VC_PROJECTSYSTEM_INSTALLED" />
        <PropertyRef Id="VS2005_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED" />
        <PropertyRef Id="VS2005_IDE_VB_PROJECTSYSTEM_INSTALLED" />
        <PropertyRef Id="VS90_IDE_VC_PROJECTSYSTEM_INSTALLED" />
        <PropertyRef Id="VS90_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED" />
        <PropertyRef Id="VS90_IDE_VB_PROJECTSYSTEM_INSTALLED" />
        <PropertyRef Id="VS2010_IDE_VC_PROJECTSYSTEM_INSTALLED" />
        <PropertyRef Id="VS2010_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED" />
        <PropertyRef Id="VS2010_IDE_VB_PROJECTSYSTEM_INSTALLED" />
        
        <DirectoryRef Id="VsProjectTemplatesWixDir2005">
            <Component Id="DtfProjectTemplate2005_CustomActionCPP" Guid="90AAEAB2-0F62-4FB3-9A58-9E9514044721" Transitive="yes" Win64="no">
              <File Id="CustomActionCPP_2005.zip" Source="CustomActionCPP_2005.zip" Name="CustomActionCPP.zip" KeyPath="yes" Vital="yes" />
              <Condition>VS2005_IDE_VC_PROJECTSYSTEM_INSTALLED</Condition>
            </Component>
            <Component Id="DtfProjectTemplate2005_CustomActionCS" Guid="E5B4D43F-2E57-41F5-AB70-BFC8112203B6" Transitive="yes" Win64="no">
              <File Id="CustomActionCS_2005.zip" Source="CustomActionCS_2005.zip" Name="CustomActionCS.zip" KeyPath="yes" Vital="yes" />
              <Condition>VS2005_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED</Condition>
            </Component>
            <Component Id="DtfProjectTemplate2005_CustomActionVB" Guid="54FE9732-EF87-45E4-998B-15836B07F762" Transitive="yes" Win64="no">
              <File Id="CustomActionVB_2005.zip" Source="CustomActionVB_2005.zip" Name="CustomActionVB.zip" KeyPath="yes" Vital="yes" />
              <Condition>VS2005_IDE_VB_PROJECTSYSTEM_INSTALLED</Condition>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="VsProjectTemplatesWixDir2008">
            <Component Id="DtfProjectTemplate2008_CustomActionCPP" Guid="43FD6CC8-1C43-43CB-AAFD-571A47F27A25" Transitive="yes" Win64="no">
              <File Id="CustomActionCPP_2008.zip" Source="CustomActionCPP_2008.zip" Name="CustomActionCPP.zip" KeyPath="yes" Vital="yes" />
              <Condition>VS90_IDE_VC_PROJECTSYSTEM_INSTALLED</Condition>
            </Component>
            <Component Id="DtfProjectTemplate2008_CustomActionCS" Guid="BF5DA64D-6298-472D-827A-C4509C916AB6" Transitive="yes" Win64="no">
              <File Id="CustomActionCS_2008.zip" Source="CustomActionCS_2008.zip" Name="CustomActionCS.zip" KeyPath="yes" Vital="yes" />
              <Condition>VS90_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED</Condition>
            </Component>
            <Component Id="DtfProjectTemplate2008_CustomActionVB" Guid="FB25F44C-6D20-4BE7-85AD-01EB61DBEBF8" Transitive="yes" Win64="no">
              <File Id="CustomActionVB_2008.zip" Source="CustomActionVB_2008.zip" Name="CustomActionVB.zip" KeyPath="yes" Vital="yes" />
              <Condition>VS90_IDE_VB_PROJECTSYSTEM_INSTALLED</Condition>
            </Component>
        </DirectoryRef>


        <?if $(var.BuildVotive2010)=true ?>
        <DirectoryRef Id="VsProjectTemplatesWixDir2010">
            <Component Id="DtfProjectTemplate2010_CustomActionCPP" Guid="637D8CC0-1C43-43CB-AAFD-571A57F27A25" Transitive="yes" Win64="no">
              <File Id="CustomActionCPP_2010.zip" Source="CustomActionCPP_2010.zip" Name="CustomActionCPP.zip" KeyPath="yes" Vital="yes" />
              <Condition>VS2010_IDE_VC_PROJECTSYSTEM_INSTALLED</Condition>
            </Component>
            <Component Id="DtfProjectTemplate2010_CustomActionCS" Guid="7F58A64E-6298-472D-827A-C4509C016A06" Transitive="yes" Win64="no">
              <File Id="CustomActionCS_2010.zip" Source="CustomActionCS_2010.zip" Name="CustomActionCS.zip" KeyPath="yes" Vital="yes" />
              <Condition>VS2010_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED</Condition>
            </Component>
            <Component Id="DtfProjectTemplate2010_CustomActionVB" Guid="9B05FA4C-6D2A-4BE2-85AD-012B314B5BF8" Transitive="yes" Win64="no">
              <File Id="CustomActionVB_2010.zip" Source="CustomActionVB_2010.zip" Name="CustomActionVB.zip" KeyPath="yes" Vital="yes" />
              <Condition>VS2010_IDE_VB_PROJECTSYSTEM_INSTALLED</Condition>
            </Component>
        </DirectoryRef>
        <?endif?>
       
        <?if $(var.Configuration) = Release ?>
        <DirectoryRef Id="DocDir">
            <Component Id="DTF.chm" Guid="E4F01700-B813-41FC-9E8A-D935AC891337" Win64="no">
                <File Source="DTF.chm" KeyPath="yes" />
                <Shortcut Id="DtfChmShortcut" Directory="WixShortcutFolder" Name="DTF Documentation" Icon="WixSetupIcons.ico" IconIndex="0" Advertise="yes" />
            </Component>
            <Component Id="DTFAPI.chm" Guid="3F9B418C-87E1-4E75-B791-C9AE67D3F168" Win64="no">
                <File Source="DTFAPI.chm" KeyPath="yes" />
            </Component>
        </DirectoryRef>
        <?endif?>

        <!-- Component groups -->
        <ComponentGroup Id="DtfComponents">
            <ComponentRef Id="Microsoft.Deployment.Compression" />
            <ComponentRef Id="Microsoft.Deployment.Compression.Cab" />
            <ComponentRef Id="Microsoft.Deployment.Compression.Zip" />
            <ComponentRef Id="Microsoft.Deployment.Resources" />
            <ComponentRef Id="Microsoft.Deployment.WindowsInstaller" />
            <ComponentRef Id="Microsoft.Deployment.WindowsInstaller.Linq" />
            <ComponentRef Id="Microsoft.Deployment.WindowsInstaller.Package" />
            <ComponentRef Id="MakeSfxCA" />
            <ComponentRef Id="MakeSfxCAConfig" />
            <ComponentRef Id="sfxca.dll_x86" />
            <ComponentRef Id="sfxca.dll_x64" />
        </ComponentGroup>

        <ComponentGroup Id="DtfCATemplates">
            <ComponentRef Id="DtfProjectTemplate2005_CustomActionCPP" />
            <ComponentRef Id="DtfProjectTemplate2005_CustomActionCS" />
            <ComponentRef Id="DtfProjectTemplate2005_CustomActionVB" />
            <ComponentRef Id="DtfProjectTemplate2008_CustomActionCPP" />
            <ComponentRef Id="DtfProjectTemplate2008_CustomActionCS" />
            <ComponentRef Id="DtfProjectTemplate2008_CustomActionVB" />

            <?if $(var.BuildVotive2010)=true ?>
            <ComponentRef Id="DtfProjectTemplate2010_CustomActionCPP" />
            <ComponentRef Id="DtfProjectTemplate2010_CustomActionCS" />
            <ComponentRef Id="DtfProjectTemplate2010_CustomActionVB" />
            <?endif?>
        </ComponentGroup>

        <ComponentGroup Id="DtfDocs">
            <?if $(var.Configuration) = Release ?>
            <ComponentRef Id="DTF.chm" />
            <ComponentRef Id="DTFAPI.chm" />
            <?endif?>
        </ComponentGroup>
    </Fragment>
</Wix>
