<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) Microsoft Corporation.  All rights reserved.

  Libs.wxs - WiX source for the WiX SDK libraries.
-->

<?include WixVer.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="SdkLibDir">
            <Component Id="Dutil_2005_x86" Guid="*" Win64="no">
                <File Source="dutil_2005.lib" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="SdkLibDir">
            <Component Id="Dutil_2005_x64" Guid="*" Win64="no">
                <File Source="dutil_2005_x64.lib" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="SdkLibDir">
            <Component Id="Dutil_2005_ia64" Guid="*" Win64="no">
                <File Source="dutil_2005_ia64.lib" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
    </Fragment>

    <Fragment>
        <DirectoryRef Id="SdkLibDir">
            <Component Id="Dutil_2008_x86" Guid="*" Win64="no">
                <File Source="dutil_2008.lib" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="SdkLibDir">
            <Component Id="Dutil_2008_x64" Guid="*" Win64="no">
                <File Source="dutil_2008_x64.lib" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="SdkLibDir">
            <Component Id="Dutil_2008_ia64" Guid="*" Win64="no">
                <File Source="dutil_2008_ia64.lib" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
    </Fragment>

    <Fragment>
        <DirectoryRef Id="SdkLibDir">
            <Component Id="Dutil_2010_x86" Guid="*" Win64="no">
                <File Source="dutil_2010.lib" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="SdkLibDir">
            <Component Id="Dutil_2010_x64" Guid="*" Win64="no">
                <File Source="dutil_2010_x64.lib" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="SdkLibDir">
            <Component Id="Dutil_2010_ia64" Guid="*" Win64="no">
                <File Source="dutil_2010_ia64.lib" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
    </Fragment>

    <Fragment>
        <DirectoryRef Id="SdkLibDir">
            <Component Id="Wcautil_2005_x86" Guid="*" Win64="no">
                <File Source="wcautil_2005.lib" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="SdkLibDir">
            <Component Id="Wcautil_2005_x64" Guid="*" Win64="no">
                <File Source="wcautil_2005_x64.lib" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="SdkLibDir">
            <Component Id="Wcautil_2005_ia64" Guid="*" Win64="no">
                <File Source="wcautil_2005_ia64.lib" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
    </Fragment>

    <Fragment>
        <DirectoryRef Id="SdkLibDir">
            <Component Id="Wcautil_2008_x86" Guid="*" Win64="no">
                <File Source="wcautil_2008.lib" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="SdkLibDir">
            <Component Id="Wcautil_2008_x64" Guid="*" Win64="no">
                <File Source="wcautil_2008_x64.lib" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="SdkLibDir">
            <Component Id="Wcautil_2008_ia64" Guid="*" Win64="no">
                <File Source="wcautil_2008_ia64.lib" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
    </Fragment>

    <Fragment>
        <DirectoryRef Id="SdkLibDir">
            <Component Id="Wcautil_2010_x86" Guid="*" Win64="no">
                <File Source="wcautil_2010.lib" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="SdkLibDir">
            <Component Id="Wcautil_2010_x64" Guid="*" Win64="no">
                <File Source="wcautil_2010_x64.lib" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="SdkLibDir">
            <Component Id="Wcautil_2010_ia64" Guid="*" Win64="no">
                <File Source="wcautil_2010_ia64.lib" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>
