<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) Microsoft Corporation.  All rights reserved.
    
    The use and distribution terms for this software are covered by the
    Common Public License 1.0 (http://opensource.org/licenses/cpl1.0.php)
    which can be found in the file CPL.TXT at the root of this distribution.
    By using this software in any fashion, you are agreeing to be bound by
    the terms of this license.
    
    You must not remove this notice, or any other, from this software.

  Votive.wxs - WiX source for the Votive Visual Studio package setup.
-->

<?include WixVer.wxi ?>

<!-- Preprocessor definitions -->
<?define VsVersion2005 = "2005"?>
<?define VsRegPath2005 = "SOFTWARE\Microsoft\VisualStudio\8.0" ?>
<?define VsVersion2008 = "2008"?>
<?define VsRegPath2008 = "SOFTWARE\Microsoft\VisualStudio\9.0" ?>
<?define VsVersion2010 = "2010"?>
<?define VsRegPath2010 = "SOFTWARE\Microsoft\VisualStudio\10.0" ?>
<?define VsVersion = "dummy"?>
<?define VsRegPath = "dummy"?>

<?define WixVsPackageGuid       = "{E0EE8E7D-F498-459E-9E90-2B3D73124AD5}" ?>
<?define WixVsProjectGuid       = "{930C7802-8A8C-48F9-8165-68863BCCD9DD}" ?>
<?define XmlEditorGuid          = "{FA3CD31E-987B-443A-9B81-186104E8DAC1}" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Fragment>
        <PropertyRef Id="VS2005_ITEMTEMPLATES_DIR" />
        <PropertyRef Id="VS2005_PROJECTTEMPLATES_DIR" />
        <PropertyRef Id="VS2005_SCHEMAS_DIR" />
        <PropertyRef Id="VS2005DEVENV" />

        <PropertyRef Id="VS90_ITEMTEMPLATES_DIR" />
        <PropertyRef Id="VS90_PROJECTTEMPLATES_DIR" />
        <PropertyRef Id="VS90_SCHEMAS_DIR" />
        <PropertyRef Id="VS90DEVENV" />

        <!-- Directories -->
        <DirectoryRef Id="TARGETDIR">
            <Directory Id="VisualStudio2005Folder" Name="Visual Studio 8">
                <Directory Id="Common7Vs2005" Name="Common7">
                    <Directory Id="IDEVs2005" Name="IDE">
                        <Directory Id="VS2005_ITEMTEMPLATES_DIR">
                            <Directory Id="VsItemTemplatesWixDir$(var.VsVersion2005)" Name="WiX" />
                        </Directory>
                            <Directory Id="VS2005_PROJECTTEMPLATES_DIR">
                                <Directory Id="VsProjectTemplatesWixDir$(var.VsVersion2005)" Name="WiX" />
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="VisualStudio2008Folder" Name="Visual Studio 9.0">
                <Directory Id="Common7Vs2008" Name="Common7">
                    <Directory Id="IDEVs2008" Name="IDE">
                        <Directory Id="VS90_ITEMTEMPLATES_DIR">
                            <Directory Id="VsItemTemplatesWixDir$(var.VsVersion2008)" Name="WiX" />
                        </Directory>
                            <Directory Id="VS90_PROJECTTEMPLATES_DIR">
                                <Directory Id="VsProjectTemplatesWixDir$(var.VsVersion2008)" Name="WiX" />
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>

        <!-- Components -->
        <DirectoryRef Id="BinDir">
            <Component Id="VisualStudioPackageCommon35" Guid="D687F08D-EA59-471B-8547-3EC822A461A8" Win64="no">
                <!-- Icons to use for WiX file types -->
                <File Source="ProjectFile.ico" KeyPath="yes" />
                <File Source="ProductFile.ico" />
                <File Source="IncludeFile.ico" />
                <File Source="LocalizationFile.ico" />
                <File Source="WixLibraryFile.ico" />

                <!-- File extension registration -->
                <!-- Note that we're keeping the versioned progid the same -->
                <!-- The properties are used here so that if a user installs Votive -->
                <!-- on a system with both VS 2005 and VS 2008 installed, the file  -->
                <!-- associations will be directed to the latest version of VS.     -->
                <ProgId Id="WindowsInstallerXml.wixprojfile.3.5" Description="WiX Project File" Icon="ProjectFile.ico">
                    <Extension Id="wixproj" ContentType="text/plain">
                        <Verb Id="Open" Command="[LATEST_DEVENV_EXE_COMMAND]" TargetProperty="LATEST_DEVENV_EXE" Argument="&quot;%1&quot;" />
                    </Extension>
                </ProgId>
                <ProgId Id="WindowsInstallerXml.wxsfile.3.5" Description="WiX Source File" Icon="ProductFile.ico">
                    <Extension Id="wxs" ContentType="text/xml">
                        <Verb Id="Open" Command="[LATEST_DEVENV_EXE_COMMAND]" TargetProperty="LATEST_DEVENV_EXE" Argument="&quot;%1&quot;" />
                    </Extension>
                </ProgId>
                <ProgId Id="WindowsInstallerXml.wxifile.3.5" Description="WiX Include File" Icon="IncludeFile.ico">
                    <Extension Id="wxi" ContentType="text/xml">
                        <Verb Id="Open" Command="[LATEST_DEVENV_EXE_COMMAND]" TargetProperty="LATEST_DEVENV_EXE" Argument="&quot;%1&quot;" />
                    </Extension>
                </ProgId>
                <ProgId Id="WindowsInstallerXml.wxlfile.3.5" Description="WiX Localization File" Icon="LocalizationFile.ico">
                    <Extension Id="wxl" ContentType="text/xml">
                        <Verb Id="Open" Command="[LATEST_DEVENV_EXE_COMMAND]" TargetProperty="LATEST_DEVENV_EXE" Argument="&quot;%1&quot;" />
                    </Extension>
                </ProgId>
                <ProgId Id="WindowsInstallerXml.wixlibfile.3.5" Description="WiX Library File" Icon="WixLibraryFile.ico">
                    <Extension Id="wixlib" ContentType="text/xml" />
                </ProgId>
            </Component>

            <Component Id="VisualStudioPackageSconce2005" Guid="7FB8DF74-9448-46AF-97D6-CEEDCD6AF731" Win64="no">
                <File Source="sconce2005.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
            </Component>

            <Component Id="VisualStudioPackageSconce2008" Guid="1CAF6D5D-3A8C-413A-881C-69CA93661B74" Win64="no">
                <File Source="sconce2008.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
            </Component>

            <Component Id="VisualStudioPackage2005" Guid="E1195461-0D02-443B-BCF8-888ECE01E017" Win64="no">
                <File Source="votive2005.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
                <util:RestartResource Path="[VS2005DEVENV]" />

                <!-- Add the VS 2005 property page registration component -->
                <?undef VsRegPath?>
                <?undef VsVersion?>
                <?define VsRegPath = $(var.VsRegPath2005) ?>
                <?define VsVersion = $(var.VsVersion2005) ?>
                <?include VotivePropertyPages.wxi ?>
            </Component>

            <Component Id="VisualStudioPackage2008" Guid="AD022E4C-71A5-4C1D-8F61-E09B3C2BFC2F" Win64="no">
                <File Source="votive2008.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
                <util:RestartResource Path="[VS90DEVENV]" />

                <!-- Add the VS 2008 property page registration component -->
                <?undef VsRegPath?>
                <?undef VsVersion?>
                <?define VsRegPath = $(var.VsRegPath2008) ?>
                <?define VsVersion = $(var.VsVersion2008) ?>
                <?include VotivePropertyPages.wxi ?>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="VsItemTemplatesWixDir$(var.VsVersion2005)">
            <Component Id="VsProjectItems2005" Guid="7C9FC36D-F037-4311-B58D-4906CC1440EE" Win64="no">
                <?undef VsVersion?>
                <?define VsVersion = $(var.VsVersion2005) ?>
                <?include VotiveItemTemplates.wxi ?>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="VsProjectTemplatesWixDir$(var.VsVersion2005)">
            <Component Id="VsProjects2005" Guid="B717AF39-94A3-41AC-A038-00C42485F1BA" Win64="no">
                <?undef VsVersion?>
                <?define VsVersion = $(var.VsVersion2005) ?>
                <?ifdef ZipSuffix?>
                <?undef ZipSuffix?>
                <?endif?>
                <?include VotiveProjectTemplates.wxi ?>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="VsItemTemplatesWixDir$(var.VsVersion2008)">
            <Component Id="VsProjectItems2008" Guid="4BBC4C91-DA19-4AE2-8968-C9D8ECC1E748" Win64="no">
                <?undef VsVersion?>
                <?define VsVersion = $(var.VsVersion2008) ?>
                <?include VotiveItemTemplates.wxi ?>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="VsProjectTemplatesWixDir$(var.VsVersion2008)">
            <Component Id="VsProjects2008" Guid="EB67DA36-2D25-42B9-A59E-F9E19700B430" Win64="no">
                <?undef VsVersion?>
                <?define VsVersion = $(var.VsVersion2008) ?>
                <?ifdef ZipSuffix?>
                <?undef ZipSuffix?>
                <?endif?>
                <?include VotiveProjectTemplates.wxi ?>
            </Component>
        </DirectoryRef>

        <ComponentGroup Id="VotiveCommon">
            <ComponentRef Id="VisualStudioPackageCommon35" />
            <ComponentRef Id="WixMSBuildBinaries35" />
            <ComponentGroupRef Id="Extensions" />
        </ComponentGroup>

        <ComponentGroup Id="VotiveVS2005">
            <ComponentRef Id="VisualStudioPackage2005" />
            <ComponentRef Id="VisualStudioPackageSconce2005" />
            <ComponentRef Id="VsProjectItems2005" />
            <ComponentRef Id="VsProjects2005" />
        </ComponentGroup>

        <ComponentGroup Id="VotiveVS2008">
            <ComponentRef Id="VisualStudioPackage2008" />
            <ComponentRef Id="VisualStudioPackageSconce2008" />
            <ComponentRef Id="VsProjectItems2008" />
            <ComponentRef Id="VsProjects2008" />
        </ComponentGroup>

    </Fragment>

    <Fragment>

        <PropertyRef Id="VS2010_ITEMTEMPLATES_DIR" />
        <PropertyRef Id="VS2010_PROJECTTEMPLATES_DIR" />
        <PropertyRef Id="VS2010_SCHEMAS_DIR" />
        <PropertyRef Id="VS2010DEVENV" />

        <DirectoryRef Id="TARGETDIR">
            <Directory Id="VisualStudio2010Folder" Name="Visual Studio 10.0">
                <Directory Id="Common7Vs2010" Name="Common7">
                    <Directory Id="IDEVs2010" Name="IDE">
                        <Directory Id="VS2010_ITEMTEMPLATES_DIR">
                            <Directory Id="VsItemTemplatesWixDir$(var.VsVersion2010)" Name="WiX" />
                        </Directory>
                            <Directory Id="VS2010_PROJECTTEMPLATES_DIR">
                                <Directory Id="VsProjectTemplatesWixDir$(var.VsVersion2010)" Name="WiX" />
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>

        <DirectoryRef Id="BinDir">
            <Component Id="VisualStudioPackageSconce2010" Guid="89A9AA9B-EDC2-4206-AB98-3FF75E705AB9" Win64="no">
                <File Source="sconce2010.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
            </Component>

            <Component Id="VisualStudioPackage2010" Guid="C8D37529-F79E-46B4-89FD-EA7BC6654770" Win64="no">
                <File Source="votive2010.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
                <util:RestartResource Path="[VS2010DEVENV]" />

                <!-- Add the VS 2010 property page registration component -->
                <?undef VsRegPath?>
                <?undef VsVersion?>
                <?define VsRegPath = $(var.VsRegPath2010) ?>
                <?define VsVersion = $(var.VsVersion2010) ?>
                <?include VotivePropertyPages.wxi ?>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="VsItemTemplatesWixDir$(var.VsVersion2010)">
            <Component Id="VsProjectItems2010" Guid="B104DB88-C954-448F-A5D6-9427D961F2A5" Win64="no">
                <?undef VsVersion?>
                <?define VsVersion = $(var.VsVersion2010) ?>
                <?include VotiveItemTemplates.wxi ?>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="VsProjectTemplatesWixDir$(var.VsVersion2010)">
            <Component Id="VsProjects2010" Guid="939E573A-7A00-45B3-974D-B5F9883CFCCA" Win64="no">
                <?undef VsVersion?>
                <?define VsVersion = $(var.VsVersion2010) ?>
                <?ifdef ZipSuffix?>
                <?undef ZipSuffix?>
                <?endif?>
                <?define ZipSuffix = 2010 ?>
                <?include VotiveProjectTemplates.wxi ?>
            </Component>
        </DirectoryRef>

        <ComponentGroup Id="VotiveVS2010">
            <ComponentRef Id="VisualStudioPackage2010" />
            <ComponentRef Id="VisualStudioPackageSconce2010" />
            <ComponentRef Id="VsProjectItems2010" />
            <ComponentRef Id="VsProjects2010" />
        </ComponentGroup>

    </Fragment>
</Wix>
