<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) Microsoft Corporation.  All rights reserved.
    
    The use and distribution terms for this software are covered by the
    Common Public License 1.0 (http://opensource.org/licenses/cpl1.0.php)
    which can be found in the file CPL.TXT at the root of this distribution.
    By using this software in any fashion, you are agreeing to be bound by
    the terms of this license.
    
    You must not remove this notice, or any other, from this software.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Fragment>
        <PropertyRef Id="VS2005_ROOT_FOLDER" />
        <PropertyRef Id="VS2005_SCHEMAS_DIR" />
        <PropertyRef Id="VS2005PROJECTAGGREGATOR2" />

        <!-- Copy the schema files into the VS2005 schemas directory -->
        <Component Id="VSSchema2005" Guid="7150C0A6-5626-48B6-AA4C-671754E22706" KeyPath="yes" Win64="no" Directory="TARGETDIR">
            <CopyFile Id="CopyWixSchema2005" DestinationProperty="VS2005_SCHEMAS_DIR" FileId="wix.xsd" />
            <CopyFile Id="CopyWixLocSchema2005" DestinationProperty="VS2005_SCHEMAS_DIR" FileId="wixloc.xsd" />
            <CopyFile Id="CopyExtensionXsdComplus2005" DestinationProperty="VS2005_SCHEMAS_DIR" FileId="complus.xsd" />
            <CopyFile Id="CopyExtensionXsdDifxApp2005" DestinationProperty="VS2005_SCHEMAS_DIR" FileId="difxapp.xsd" />
            <CopyFile Id="CopyExtensionXsdFirewall2005" DestinationProperty="VS2005_SCHEMAS_DIR" FileId="firewall.xsd" />
            <CopyFile Id="CopyExtensionXsdGaming2005" DestinationProperty="VS2005_SCHEMAS_DIR" FileId="gaming.xsd" />
            <CopyFile Id="CopyExtensionXsdIis2005" DestinationProperty="VS2005_SCHEMAS_DIR" FileId="iis.xsd" />
            <CopyFile Id="CopyExtensionXsdMsmq2005" DestinationProperty="VS2005_SCHEMAS_DIR" FileId="msmq.xsd" />
            <CopyFile Id="CopyExtensionXsdNetFx2005" DestinationProperty="VS2005_SCHEMAS_DIR" FileId="netfx.xsd" />
            <CopyFile Id="CopyExtensionXsdPS2005" DestinationProperty="VS2005_SCHEMAS_DIR" FileId="ps.xsd" />
            <CopyFile Id="CopyExtensionXsdSql2005" DestinationProperty="VS2005_SCHEMAS_DIR" FileId="sql.xsd" />
            <CopyFile Id="CopyExtensionXsdUtil2005" DestinationProperty="VS2005_SCHEMAS_DIR" FileId="util.xsd" />
            <CopyFile Id="CopyExtensionXsdVS2005" DestinationProperty="VS2005_SCHEMAS_DIR" FileId="vs.xsd" />
        </Component>
    </Fragment>

    <Fragment>
        <PropertyRef Id="VS90_ROOT_FOLDER" />
        <PropertyRef Id="VS90_SCHEMAS_DIR" />

        <!-- Copy the schema files into the VS2008 schemas directory -->
        <Component Id="VSSchema2008" Guid="E6580580-99B6-4473-842D-689830655DA1" KeyPath="yes" Win64="no" Directory="TARGETDIR">
            <CopyFile Id="CopyWixSchemas2008" DestinationProperty="VS90_SCHEMAS_DIR" FileId="wix.xsd" />
            <CopyFile Id="CopyWixLocSchema2008" DestinationProperty="VS90_SCHEMAS_DIR" FileId="wixloc.xsd" />
            <CopyFile Id="CopyExtensionXsdComplus2008" DestinationProperty="VS90_SCHEMAS_DIR" FileId="complus.xsd" />
            <CopyFile Id="CopyExtensionXsdDifxApp2008" DestinationProperty="VS90_SCHEMAS_DIR" FileId="difxapp.xsd" />
            <CopyFile Id="CopyExtensionXsdFirewall2008" DestinationProperty="VS90_SCHEMAS_DIR" FileId="firewall.xsd" />
            <CopyFile Id="CopyExtensionXsdGaming2008" DestinationProperty="VS90_SCHEMAS_DIR" FileId="gaming.xsd" />
            <CopyFile Id="CopyExtensionXsdIis2008" DestinationProperty="VS90_SCHEMAS_DIR" FileId="iis.xsd" />
            <CopyFile Id="CopyExtensionXsdMsmq2008" DestinationProperty="VS90_SCHEMAS_DIR" FileId="msmq.xsd" />
            <CopyFile Id="CopyExtensionXsdNetFx2008" DestinationProperty="VS90_SCHEMAS_DIR" FileId="netfx.xsd" />
            <CopyFile Id="CopyExtensionXsdPS2008" DestinationProperty="VS90_SCHEMAS_DIR" FileId="ps.xsd" />
            <CopyFile Id="CopyExtensionXsdSql2008" DestinationProperty="VS90_SCHEMAS_DIR" FileId="sql.xsd" />
            <CopyFile Id="CopyExtensionXsdUtil2008" DestinationProperty="VS90_SCHEMAS_DIR" FileId="util.xsd" />
            <CopyFile Id="CopyExtensionXsdVS2008" DestinationProperty="VS90_SCHEMAS_DIR" FileId="vs.xsd" />
        </Component>
    </Fragment>

    <Fragment>
        <PropertyRef Id="VS2010_ROOT_FOLDER" />
        <PropertyRef Id="VS2010_SCHEMAS_DIR" />

        <!-- Copy the schema files into the VS2010 schemas directory -->
        <Component Id="VSSchema2010" Guid="528BE30A-E6CC-4B95-8053-5C094863C2FB" KeyPath="yes" Win64="no" Directory="TARGETDIR">
            <CopyFile Id="CopyWixSchemas2010" DestinationProperty="VS2010_SCHEMAS_DIR" FileId="wix.xsd" />
            <CopyFile Id="CopyWixLocSchema2010" DestinationProperty="VS2010_SCHEMAS_DIR" FileId="wixloc.xsd" />
            <CopyFile Id="CopyExtensionXsdDifxApp2010" DestinationProperty="VS2010_SCHEMAS_DIR" FileId="difxapp.xsd" />
            <CopyFile Id="CopyExtensionXsdFirewall2010" DestinationProperty="VS2010_SCHEMAS_DIR" FileId="firewall.xsd" />
            <CopyFile Id="CopyExtensionXsdGaming2010" DestinationProperty="VS2010_SCHEMAS_DIR" FileId="gaming.xsd" />
            <CopyFile Id="CopyExtensionXsdIis2010" DestinationProperty="VS2010_SCHEMAS_DIR" FileId="iis.xsd" />
            <CopyFile Id="CopyExtensionXsdNetFx2010" DestinationProperty="VS2010_SCHEMAS_DIR" FileId="netfx.xsd" />
            <CopyFile Id="CopyExtensionXsdPS2010" DestinationProperty="VS2010_SCHEMAS_DIR" FileId="ps.xsd" />
            <CopyFile Id="CopyExtensionXsdSql2010" DestinationProperty="VS2010_SCHEMAS_DIR" FileId="sql.xsd" />
            <CopyFile Id="CopyExtensionXsdUtil2010" DestinationProperty="VS2010_SCHEMAS_DIR" FileId="util.xsd" />
            <CopyFile Id="CopyExtensionXsdVS2010" DestinationProperty="VS2010_SCHEMAS_DIR" FileId="vs.xsd" />
        </Component>
    </Fragment>

    <Fragment>
        <UI>
            <Dialog Id="PrerequisitesDlg" Width="320" Height="120" Title="[ProductName] Prerequisites">
                <Control Id="OK" Type="PushButton" X="186" Y="93" Width="56" Height="17" Default="yes" Text="!(loc.WixUIOK)">
                    <Publish Event="EndDialog" Value="Return">1</Publish>
                </Control>
                <Control Id="Cancel" Type="PushButton" X="254" Y="93" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
                <!-- No VS, no Schema dirs -->
                <!-- This indicates no version of VS (including express editions) is installed -->
                <Control Id="NoVSPackages" Type="Text" X="10" Y="10" Width="300" Height="60" Transparent="yes" NoPrefix="yes" Hidden="yes">
                    <Text>Votive, the WiX project and editor package for Visual Studio, cannot be installed because Visual Studio 2005, 2008, or 2010 Standard Edition or higher is not installed.</Text>
                    <Condition Action="show">
                        NOT VS2005DEVENV AND NOT VS90DEVENV AND NOT VS2010DEVENV AND NOT VS2005_SCHEMAS_DIR AND NOT VS90_SCHEMAS_DIR AND NOT VS2010_SCHEMAS_DIR
                    </Condition>
                </Control>
                <!-- No VS, but schema dir and root dir for one version that is not 2010 -->
                <!-- This indicates an express edition of VS 2005 or VS 2008 is installed. -->
                <!-- VS 2010 Express could also be installed, but isn't checked. -->
                <Control Id="YesExpress" Type="Text" X="10" Y="10" Width="300" Height="60" Transparent="yes" NoPrefix="yes" Hidden="yes">
                    <Text>Votive, the WiX project and editor package for Visual Studio, cannot be installed because Visual Studio 2005, 2008, or 2010 Standard Edition or higher is not installed. However, the WiX schema files can be integrated into Visual Studio Express Editions to enhance editing without project support.</Text>
                    <Condition Action="show">
                        (NOT VS2005DEVENV AND NOT VS90DEVENV AND NOT VS2010DEVENV) AND
                        ( (VS2005_SCHEMAS_DIR AND VS2005_ROOT_FOLDER) OR (VS90_SCHEMAS_DIR AND VS90_ROOT_FOLDER) )
                    </Condition>
                </Control>
                <!-- No VS, but schema dir and root dir for 2010 and no schema/root dirs for 2005 and 2008 -->
                <!-- This indicates an express edition of only VS 2010 is installed (express 2005 and 2008 are not). -->
                <Control Id="YesExpress2010" Type="Text" X="10" Y="10" Width="300" Height="60" Transparent="yes" NoPrefix="yes" Hidden="yes">
                    <Text>Votive, the WiX project and editor package for Visual Studio, cannot be installed because Visual Studio 2010  Professional or higher is not installed. However, the WiX schema files can be integrated into Visual Studio Express Editions to enhance editing without project support.</Text>
                    <Condition Action="show">
                        (NOT VS2010DEVENV AND NOT VS2005DEVENV AND NOT VS90DEVENV) AND
                        (VS2010_SCHEMAS_DIR AND VS2010_ROOT_FOLDER) AND NOT
                        ( (VS2005_SCHEMAS_DIR AND VS2005_ROOT_FOLDER) OR (VS90_SCHEMAS_DIR AND VS90_ROOT_FOLDER) )
                    </Condition>
                </Control>
                <!-- VS 2005 is installed, but the required project aggregator is not installed -->
                <!-- Since this control requires VS 2005 devenv, none of the other controls could possibly show up along side this one -->
                <Control Id="MissingAggregator" Type="Text" X="10" Y="10" Width="300" Height="60" Transparent="yes" NoPrefix="yes" Hidden="yes">
                    <Text>Votive, the WiX project and editor package for Visual Studio, cannot be installed for Visual Studio 2005 because the required project aggregator is not installed. To install Votive for Visual Studio 2005, download ProjectAggregator2.msi from http://wix.sourceforge.net, install it, and start the WiX installer again.</Text>
                    <Condition Action="show">
                        VS2005DEVENV AND NOT VS2005PROJECTAGGREGATOR2
                    </Condition>
                </Control>
            </Dialog>

            <InstallUISequence>
                <Show Dialog="PrerequisitesDlg" Before="AdvancedWelcomeEulaDlg">(NOT Installed AND NOT VS2005DEVENV AND NOT VS90DEVENV AND NOT VS2010DEVENV) OR (VS2005DEVENV AND NOT VS2005PROJECTAGGREGATOR2)</Show>
            </InstallUISequence>
        </UI>
    </Fragment>
</Wix>
