# Auto detect text files and perform LF normalization
* text eol=crlf

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc  diff=astextplain
*.DOC  diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF  diff=astextplain
*.rtf  diff=astextplain
*.RTF  diff=astextplain

# Binary files.
*.dll binary
*.lib binary
*.exe binary

*.pfx binary
*.cer binary

*.chm binary

*.cub binary
*.msi binary
*.msp binary
*.mst binary

*.bmp binary
*.ico binary
*.gif binary
*.pdn binary
*.png binary
*.jpg binary
