<?xml version="1.0" encoding="UTF-8"?>
<!--
  <copyright file="DevBundle.wxs" company="Outercurve Foundation">
    Copyright (c) 2004, Outercurve Foundation.
    This software is released under Microsoft Reciprocal License (MS-RL).
    The license and further copyright text can be found in the file
    LICENSE.TXT at the root directory of the distribution.
  </copyright>
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle Name="WiX Toolset Developer Bundle" Version="1.0.0.0" Manufacturer="Outercurve Foundation"
          Compressed="yes"
          UpgradeCode="C35821FA-6053-4F2B-BDC0-9B4939AAB992">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />

    <!-- Ensure Visual Studio 2010 installed. -->
    <util:RegistrySearchRef Id="VS2010SPSearch" />
    <util:RegistrySearchRef Id="VS2012Search" />
    <bal:Condition Message="Visual Studio 2010 SP1 and/or Visual Studio 2012 must be installed first.">
      VS2010SPInstalled&gt;0 OR VS2012Installed
    </bal:Condition>

    <Chain>
      <PackageGroupRef Id="HtmlHelp" />
      <PackageGroupRef Id="TorotoiseHg" />
      <PackageGroupRef Id="Sandcastle" />
      <PackageGroupRef Id="VS2010SDK" />
      <PackageGroupRef Id="VS2012SDK" />
    </Chain>
  </Bundle>
</Wix>
