<?xml version="1.0" encoding="UTF-8"?>
<!--
  <copyright file="TortoiseHg.wxs" company="Outercurve Foundation">
    Copyright (c) 2004, Outercurve Foundation.
    This software is released under Microsoft Reciprocal License (MS-RL).
    The license and further copyright text can be found in the file
    LICENSE.TXT at the root directory of the distribution.
  </copyright>
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <PackageGroup Id="TorotoiseHg">
      <MsiPackage Name="packages\tortoisehg-2.7.0-hg-2.4.2-x86.msi" SourceFile="TortoiseHG\" InstallCondition="NOT VersionNT64" Visible="yes" Permanent="yes" />
      <MsiPackage Name="packages\tortoisehg-2.7.0-hg-2.4.2-x64.msi" SourceFile="TortoiseHG\" InstallCondition="VersionNT64" Visible="yes" Permanent="yes" />
    </PackageGroup>
  </Fragment>
</Wix>
