<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) Microsoft Corporation.  All rights reserved.
    
    The use and distribution terms for this software are covered by the
    Common Public License 1.0 (http://opensource.org/licenses/cpl1.0.php)
    which can be found in the file CPL.TXT at the root of this distribution.
    By using this software in any fashion, you are agreeing to be bound by
    the terms of this license.
    
    You must not remove this notice, or any other, from this software.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include $(var.caerrwxi)?>

    <Fragment>
        <UI>
            <Error Id="$(var.msierrFirewallCannotConnect)">!(loc.msierrFirewallCannotConnect)</Error>
            <ProgressText Action="WixSchedFirewallExceptionsInstall">!(loc.WixSchedFirewallExceptionsInstall)</ProgressText>
            <ProgressText Action="WixSchedFirewallExceptionsUninstall">!(loc.WixSchedFirewallExceptionsUninstall)</ProgressText>
            <ProgressText Action="WixRollbackFirewallExceptionsInstall">!(loc.WixRollbackFirewallExceptionsInstall)</ProgressText>
            <ProgressText Action="WixExecFirewallExceptionsInstall">!(loc.WixExecFirewallExceptionsInstall)</ProgressText>
            <ProgressText Action="WixRollbackFirewallExceptionsUninstall">!(loc.WixRollbackFirewallExceptionsUninstall)</ProgressText>
            <ProgressText Action="WixExecFirewallExceptionsUninstall">!(loc.WixExecFirewallExceptionsUninstall)</ProgressText>
        </UI>

        <CustomAction Id="WixSchedFirewallExceptionsInstall" BinaryKey="WixFirewallCA" DllEntry="SchedFirewallExceptionsInstall" Execute="immediate" Return="check" SuppressModularization="yes" />
        <CustomAction Id="WixSchedFirewallExceptionsUninstall" BinaryKey="WixFirewallCA" DllEntry="SchedFirewallExceptionsUninstall" Execute="immediate" Return="check" SuppressModularization="yes" />
        <CustomAction Id="WixRollbackFirewallExceptionsInstall" BinaryKey="WixFirewallCA" DllEntry="ExecFirewallExceptions" Execute="rollback" Impersonate="no" Return="check" SuppressModularization="yes" />
        <CustomAction Id="WixExecFirewallExceptionsInstall" BinaryKey="WixFirewallCA" DllEntry="ExecFirewallExceptions" Execute="deferred" Impersonate="no" Return="check" SuppressModularization="yes" />
        <CustomAction Id="WixRollbackFirewallExceptionsUninstall" BinaryKey="WixFirewallCA" DllEntry="ExecFirewallExceptions" Execute="rollback" Impersonate="no" Return="check" SuppressModularization="yes" />
        <CustomAction Id="WixExecFirewallExceptionsUninstall" BinaryKey="WixFirewallCA" DllEntry="ExecFirewallExceptions" Execute="deferred" Impersonate="no" Return="check" SuppressModularization="yes" />

        <!--
            We need the firewall on Windows XP SP2 or later.
        -->
        <InstallExecuteSequence>
            <Custom Action="WixSchedFirewallExceptionsUninstall" Before="RemoveFiles" Overridable="yes">
                <![CDATA[ VersionNT >= 501 AND (ServicePackLevel >= 2 OR VersionNT >= 600) ]]>
            </Custom>
            <Custom Action="WixSchedFirewallExceptionsInstall" After="InstallFiles" Overridable="yes">
                <![CDATA[ VersionNT >= 501 AND (ServicePackLevel >= 2 OR VersionNT >= 600) ]]>
            </Custom>
        </InstallExecuteSequence>
    </Fragment>

    <!-- Firewall Custom Action DLL Definitions -->
    <Fragment>
        <Binary Id="WixFirewallCA" SourceFile="$(var.firewallcaDll)" />
    </Fragment>
</Wix>
