<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) Microsoft Corporation.  All rights reserved.
    
    The use and distribution terms for this software are covered by the
    Common Public License 1.0 (http://opensource.org/licenses/cpl.php)
    which can be found in the file CPL.TXT at the root of this distribution.
    By using this software in any fashion, you are agreeing to be bound by
    the terms of this license.
    
    You must not remove this notice, or any other, from this software.

  Extensions.wxs - WiX source for the WiX v3 extensions.
-->

<?include WixVer.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="BinDir">
            <Component Id="ComPlusExt" Guid="AE46D16E-35EA-48F4-B539-7DFE27A75099" Win64="no">
                <File Source="WixComPlusExtension.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
            </Component>
            <Component Id="DifxAppExt" Guid="1B2303F6-9A78-417C-B96F-A8EE9AD0F9CA" Win64="no">
              <File Source="WixDifxAppExtension.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
              <File Source="difxapp_x86.wixlib" />
              <File Source="difxapp_x64.wixlib" />
              <?if $(var.BuildIA64)=true ?>
              <File Source="difxapp_ia64.wixlib" />
              <?endif ?>
            </Component>
            <Component Id="DirectXExt" Guid="DB6FDFC7-37BD-4D2E-8138-773EFD9F5959" Win64="no">
                <File Source="WixDirectXExtension.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
            </Component>
            <Component Id="FirewallExt" Guid="302FC4C7-086B-4F08-B99B-652836015FFB" Win64="no">
                <File Source="WixFirewallExtension.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
            </Component>
            <Component Id="GamingExt" Guid="58561FD3-AFE1-4333-9D72-FD2889B4DB1C" Win64="no">
                <File Source="WixGamingExtension.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
            </Component>
            <Component Id="IisExt" Guid="C6180B6E-D43E-4C50-AF51-8E777E466C36" Win64="no">
                <File Source="WixIIsExtension.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
            </Component>
            <Component Id="IsolatedAppExt" Guid="74272337-F5E3-408D-829D-6F64ADEBC7B5" Win64="no">
                <File Source="WixIsolatedAppExtension.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
            </Component>
            <Component Id="MsmqExt" Guid="D1CB050B-2C96-43E6-A289-4DB49CE689C0" Win64="no">
                <File Source="WixMsmqExtension.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
            </Component>
            <Component Id="NetFxExt" Guid="E0E8C41F-CD1F-4748-9426-CA7D79AC59AC" Win64="no">
                <File Source="WixNetFxExtension.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
            </Component>
            <Component Id="OfficeExt" Guid="BE07FBC7-1BA3-47D0-B7CB-0E510D721117" Win64="no">
                <File Source="WixOfficeExtension.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
            </Component>
            <Component Id="PSExt" Guid="314E32F5-A6A4-4A79-91BB-8EA8A0D5D435" Win64="no">
                <File Source="WixPSExtension.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
            </Component>
            <Component Id="SqlExt" Guid="E44D227D-E9BC-4A65-A3B4-FFC558389E05" Win64="no">
                <File Source="WixSqlExtension.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
            </Component>
            <Component Id="UIExt" Guid="14707444-6B6D-4500-9682-3DB806728723" Win64="no">
                <File Source="WixUIExtension.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
            </Component>
            <Component Id="UtilExt" Guid="F322AA8C-D8C0-4071-AEA5-143F3910AAB7" Win64="no">
                <File Source="WixUtilExtension.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
            </Component>
            <Component Id="VSExt" Guid="296D9B35-8F06-4E88-8E93-7CC58CB8E08F" Win64="no">
                <File Source="WixVSExtension.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="DocDir">
            <Component Id="ExtensionXsds" Guid="D6176999-AE97-49FE-ADB5-2DF354A4AC5E" Win64="no">
                <File Source="ext\ComPlusExtension\wixext\Xsd\complus.xsd" />
                <File Source="ext\DifxAppExtension\wixext\Xsd\difxapp.xsd" />
                <File Source="ext\FirewallExtension\wixext\Xsd\firewall.xsd" />
                <File Source="ext\GamingExtension\wixext\Xsd\gaming.xsd" />
                <File Source="ext\IIsExtension\wixext\xsd\iis.xsd" />
                <File Source="ext\NetFxExtension\wixext\Xsd\netfx.xsd" />
                <File Source="ext\MsmqExtension\wixext\Xsd\msmq.xsd" />
                <File Source="ext\PSExtension\wixext\xsd\ps.xsd" />
                <File Source="ext\SqlExtension\wixext\Xsd\sql.xsd" />
                <File Source="ext\UtilExtension\wixext\Xsd\util.xsd" KeyPath="yes" />
                <File Source="ext\VSExtension\wixext\xsd\vs.xsd" />
            </Component>
        </DirectoryRef>

        <ComponentGroup Id="Extensions">
            <ComponentRef Id="ComPlusExt" />
            <ComponentRef Id="DifxAppExt" />
            <ComponentRef Id="DirectXExt" />
            <ComponentRef Id="FirewallExt" />
            <ComponentRef Id="GamingExt" />
            <ComponentRef Id="IisExt" />
            <ComponentRef Id="IsolatedAppExt" />
            <ComponentRef Id="MsmqExt" />
            <ComponentRef Id="NetFxExt" />
            <ComponentRef Id="OfficeExt" />
            <ComponentRef Id="PSExt" />
            <ComponentRef Id="SqlExt" />
            <ComponentRef Id="UIExt" />
            <ComponentRef Id="UtilExt" />
            <ComponentRef Id="VSExt" />
            <ComponentRef Id="ExtensionXsds" />
        </ComponentGroup>
    </Fragment>
</Wix>
