<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) Microsoft Corporation.  All rights reserved.
    
    The use and distribution terms for this software are covered by the
    Common Public License 1.0 (http://opensource.org/licenses/cpl.php)
    which can be found in the file CPL.TXT at the root of this distribution.
    By using this software in any fashion, you are agreeing to be bound by
    the terms of this license.
    
    You must not remove this notice, or any other, from this software.

  Toolset.wxs - WiX source for the WiX toolset binaries.
-->

<?include WixVer.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <!-- Directories -->
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Directory Id="BinDir" Name="bin" />
            <Directory Id="DocDir" Name="doc" />
            <Directory Id="SdkDir" Name="SDK">
                <Directory Id="SdkIncDir" Name="inc" />
                <Directory Id="SdkLibDir" Name="lib" />
            </Directory>
        </DirectoryRef>

        <!-- Components -->
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Component Id="Licensing" Guid="A96136F8-E684-4281-A127-3417FBA25A67" Win64="no">
                <File Source="CPL.TXT" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="BinDir">
            <Component Id="CandleBinaries" Guid="FBD4BCFB-F1B7-4B6D-B07C-E999A24521CF" Win64="no">
                <File Source="candle.exe" Checksum="yes" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="CandleConfig" Guid="2DE5487F-CB2B-4F26-AF95-ACDEC2D024E1" Win64="no">
                <File Source="candle.exe.config" Checksum="yes" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="DarIceCube" Guid="98D9CF0F-31BA-4790-BAF8-CABC2AD17E81" Win64="no">
                <File Source="darice.cub" Checksum="yes" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="DarkBinaries" Guid="810E1FAD-A3C0-45B7-84D1-736118406F20" Win64="no">
                <File Source="dark.exe" Checksum="yes" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="DarkConfig" Guid="F55931CA-AF4B-4B70-A130-A884EAAA903A" Win64="no">
                <File Source="dark.exe.config" Checksum="yes" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="HeatBinaries" Guid="3AF1FDDC-E697-45D0-812D-8BBDA56BEBE8" Win64="no">
                <File Source="heat.exe" Checksum="yes" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="HeatConfig" Guid="4C60E3B5-C41C-4A4A-929D-70315AC6DD03" Win64="no">
                <File Source="heat.exe.config" Checksum="yes" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="LightBinaries" Guid="953F7B4C-36C7-4BDD-8EA6-048630F779FB" Win64="no">
                <File Source="light.exe" Checksum="yes" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="LightConfig" Guid="7B76E85A-D3B6-4258-AE23-EAACABAA3947" Win64="no">
                <File Source="light.exe.config" Checksum="yes" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="LitBinaries" Guid="D33FFA86-8C03-43A0-AED4-000D33ADD6AA" Win64="no">
                <File Source="lit.exe" Checksum="yes" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="LitConfig" Guid="8B849034-B724-4656-ADF5-97DC794901B4" Win64="no">
                <File Source="lit.exe.config" Checksum="yes" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="MeltBinaries" Guid="221E008E-FFC6-407C-A0CE-1A29C79F2F9D" Win64="no">
                <File Source="melt.exe" Checksum="yes" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="MeltConfig" Guid="A95A7D06-18EF-49A3-B453-E86B97C81F41" Win64="no">
                <File Source="melt.exe.config" Checksum="yes" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="MergeModCube" Guid="56BBF52F-048F-43A4-932D-0773A31CA9C1" Win64="no">
                <File Source="mergemod.cub" Checksum="yes" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="MergeModBinaries" Guid="AAF02F71-9684-4F4F-8EEA-FC99A61EAA9A" Win64="no">
                <File Source="mergemod.dll" Checksum="yes" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="MSPatchCBinaries" Guid="D108F858-7364-490E-83A4-C94EF3469B00" Win64="no">
                <File Source="mspatchc.dll" Checksum="yes" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="NAntTasks" Guid="D12399DB-3FAB-4A46-96CE-454B5F3BCB75" Win64="no">
                <File Source="Microsoft.Tools.WindowsInstallerXml.NAntTasks.dll" Checksum="yes" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="PyroBinaries" Guid="A33CCD8E-A85A-4149-BBB4-11F4C43B9205" Win64="no">
                <File Source="pyro.exe" Checksum="yes" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="PyroConfig" Guid="AE90E5F8-B7B0-4964-9C7A-3730DD0251FE" Win64="no">
                <File Source="pyro.exe.config" Checksum="yes" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="SmokeBinaries" Guid="48A05B14-C22E-454B-92B7-97200629BCEC" Win64="no">
                <File Source="smoke.exe" Checksum="yes" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="SmokeConfig" Guid="24F0A281-B01F-4CD1-960B-7DE7EFA07470" Win64="no">
                <File Source="smoke.exe.config" Checksum="yes" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="TorchBinaries" Guid="D9496C8B-825A-4464-92C7-8B8E258CA364" Win64="no">
                <File Source="torch.exe" Checksum="yes" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="TorchConfig" Guid="0650236E-8279-4234-83AD-A33C17131741" Win64="no">
                <File Source="torch.exe.config" Checksum="yes" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="WConsoleBinaries" Guid="E687C3DB-8819-4849-A165-81DED7120A41" Win64="no">
                <File Source="wconsole.dll" Checksum="yes" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="WixBinaries" Guid="2179AE82-9B26-4102-9F3B-255EE7DB8BDF" Win64="no">
                <File Source="wix.dll" Checksum="yes" KeyPath="yes" Vital="yes" />
                <Environment Id="WIXenv" Name="WIX" Action="set" System="yes" Value="[APPLICATIONFOLDER]" />
            </Component>
            <Component Id="WixInteropBinaries" Guid="E0574698-5BFD-4C85-BA0B-EB36B833E6CE" Win64="no">
                <File Source="winterop.dll" Checksum="yes" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="WixCopBinaries" Guid="E98CA3C7-2016-4FD9-827B-87A2EE6353C3" Win64="no">
                <File Source="WixCop.exe" Checksum="yes" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="WuiBinaries" Guid="C66AE68D-427C-4515-A1EA-70295930275F" Win64="no">
                <File Source="wui.dll" Checksum="yes" KeyPath="yes" Vital="yes" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="DocDir">
            <Component Id="ChmDocumentation" Guid="6AA2591A-B5F8-44D9-91F4-3D7CD95635E0" Win64="no">
                <File Source="WiX.chm" KeyPath="yes" />
                <Shortcut Id="WixChmShortcut" Directory="WixShortcutFolder" Name="WiX Documentation" Advertise="yes" />
            </Component>
            <Component Id="MsiSdkChm" Guid="9B102980-0606-4656-AADE-B277402D7359" Win64="no">
                <File Source="msi.chm" KeyPath="yes" />
                <Shortcut Id="MsiChmShortcut" Directory="WixShortcutFolder" Name="MSI SDK Documentation" Advertise="yes" />
            </Component>
            <Component Id="WixSchemas" Guid="F41EA941-DCCC-4638-BB7E-A722EF7F2F5D" Win64="no">
                <File Source="wix\Xsd\wix.xsd" KeyPath="yes" />
                <File Source="wix\Xsd\wixloc.xsd" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="ProgramFilesFolder">
            <Directory Id="Dir_MSBuild" Name="MSBuild">
                <Directory Id="Dir_MSBuildMS" Name="Microsoft">
                    <Directory Id="Dir_MSBuildMSWix" Name="WiX">
                        <Directory Id="Dir_MSBuildMSWix30" Name="v3.0">
                            <Component Id="WixMSBuildBinaries" Guid="855AFA48-D08E-4D77-9809-38C149EA3F2E" Win64="no">
                                <File Source="WixTasks.dll" Checksum="yes" KeyPath="yes" Vital="yes" />
                                <File Source="wix.targets" Vital="yes" />
                                <File Source="wix.ca.targets" Vital="yes" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>

        <?if $(var.Platform)=x64 ?>
        <DirectoryRef Id="ProgramFiles64Folder">
          <Directory Id="Dir_MSBuild_64" Name="MSBuild" SourceName="MSBuild64">
            <Directory Id="Dir_MSBuildMS_64" Name="Microsoft">
              <Directory Id="Dir_MSBuildMSWix_64" Name="WiX">
                <Directory Id="Dir_MSBuildMSWix30_64" Name="v3.0">
                  <Component Id="WixMSBuildBinaries_64" Guid="A7B0FDED-6A33-41A9-AD9C-2E3ECB27A87E" Win64="yes">
                    <File Id="WixTasks.dll_64" Source="WixTasks.dll" Checksum="yes" KeyPath="yes" Vital="yes" />
                    <File Id="wix.targets_64" Source="wix.targets" Vital="yes" />
                    <File Id="wix.ca.targets_64" Source="wix.ca.targets" Vital="yes" />
                  </Component>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </DirectoryRef>
        <?endif?>

        <DirectoryRef Id="SdkDir">
            <Component Id="DocCompiler" Guid="47168F22-10AC-4D4B-867E-A27BF93BECC7" Win64="no">
                <File Source="DocCompiler.exe" Checksum="yes" KeyPath="yes" />
            </Component>
            <Component Id="MsgGen" Guid="5A7280EB-ED53-40B7-906B-010272E49CA3" Win64="no">
                <File Source="MsgGen.exe" Checksum="yes" KeyPath="yes" />
            </Component>
            <Component Id="XsdStitch" Guid="8C205460-3ADF-4F6A-8913-A0F900CB66A8" Win64="no">
                <File Source="XsdStitch.exe" Checksum="yes" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="SdkIncDir">
            <Component Id="SdkHeaders" Guid="332DBDA4-0459-40B3-A1C0-24163C04B3B6" Win64="no">
                <File Source="aclutil.h" />
                <File Source="cabcutil.h" />
                <File Source="cabutil.h" />
                <File Source="certutil.h" />
                <File Source="conutil.h" />
                <File Source="dirutil.h" />
                <File Source="dutil.h" KeyPath="yes" />
                <File Source="fileutil.h" />
                <File Source="gdiputil.h" />
                <File Source="inetutil.h" />
                <File Source="logutil.h" />
                <File Source="memutil.h" />
                <File Source="metautil.h" />
                <File Source="pathutil.h" />
                <File Source="perfutil.h" />
                <File Source="procutil.h" />
                <File Source="resrutil.h" />
                <File Source="reswutil.h" />
                <File Source="rssutil.h" />
                <File Source="sqlutil.h" />
                <File Source="strutil.h" />
                <File Source="thmutil.h" />
                <File Source="timeutil.h" />
                <File Source="uriutil.h" />
                <File Source="wiutil.h" />
                <File Source="xmlutil.h" />
                <File Source="wcautil.h" />
                <File Source="wcawow64.h" />
                <File Source="wcawrapquery.h" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="SdkLibDir">
            <Component Id="SdkLibs" Guid="086102E7-C6C5-46E7-B3A0-043FE3A2AEBC" Win64="no">
                <File Source="dutil.lib" KeyPath="yes" />
<?if $(var.Build2005)=true ?>
                <File Source="dutil_2005.lib" />
<?endif?>

                <File Source="dutil_x64.lib" />
<?if $(var.Build2005)=true ?>
                <File Source="dutil_2005_x64.lib" />
<?endif ?>
<?if $(var.BuildIA64)=true ?>
                <File Source="dutil_ia64.lib" />
<?if $(var.Build2005)=true ?>
                <File Source="dutil_2005_ia64.lib" />
<?endif ?>
<?endif ?>
                <File Source="wcautil.lib" />
<?if $(var.Build2005)=true ?>
                <File Source="wcautil_2005.lib" />
<?endif ?>

                <File Source="wcautil_x64.lib" />
<?if $(var.Build2005)=true ?>
                <File Source="wcautil_2005_x64.lib" />
<?endif ?>
<?if $(var.BuildIA64)=true ?>
                <File Source="wcautil_ia64.lib" />
<?if $(var.Build2005)=true ?>
                <File Source="wcautil_2005_ia64.lib" />
<?endif ?>
<?endif ?>
            </Component>
        </DirectoryRef>

        <ComponentGroup Id="Toolset">
            <ComponentRef Id="CandleBinaries" />
            <ComponentRef Id="CandleConfig" />
            <ComponentRef Id="DarIceCube" />
            <ComponentRef Id="DarkBinaries" />
            <ComponentRef Id="DarkConfig" />
            <ComponentRef Id="HeatBinaries" />
            <ComponentRef Id="HeatConfig" />
            <ComponentRef Id="Licensing" />
            <ComponentRef Id="LightBinaries" />
            <ComponentRef Id="LightConfig" />
            <ComponentRef Id="LitBinaries" />
            <ComponentRef Id="LitConfig" />
            <ComponentRef Id="MeltBinaries" />
            <ComponentRef Id="MeltConfig" />
            <ComponentRef Id="MergeModBinaries" />
            <ComponentRef Id="MergeModCube" />
            <ComponentRef Id="MSPatchCBinaries" />
            <ComponentRef Id="PyroBinaries" />
            <ComponentRef Id="PyroConfig" />
            <ComponentRef Id="SmokeBinaries" />
            <ComponentRef Id="SmokeConfig" />
            <ComponentRef Id="TorchBinaries" />
            <ComponentRef Id="TorchConfig" />
            <ComponentRef Id="WConsoleBinaries" />
            <ComponentRef Id="WixBinaries" />
            <ComponentRef Id="WixCopBinaries" />
            <ComponentRef Id="WixInteropBinaries" />
            <ComponentRef Id="WuiBinaries" />
        </ComponentGroup>
    </Fragment>
</Wix>
