<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="$guid2$" Name="$wixsafeprojectname$" Language="1033" Version="1.0.0.0" Manufacturer="$wixsafeprojectname$" UpgradeCode="$guid3$">
		<Package InstallerVersion="200" Compressed="yes" />

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLOCATION" Name="$wixsafeprojectname$">
					<!-- $loc_WXS_TODO1$ -->
					<!-- <Component Id="ProductComponent" Guid="$guid4$"> -->
						<!-- $loc_WXS_TODO2$ -->
					<!-- </Component> -->
				</Directory>
			</Directory>
		</Directory>

		<Feature Id="ProductFeature" Title="$wixsafeprojectname$" Level="1">
			<!-- $loc_WXS_TODO3$ -->
			<!-- <ComponentRef Id="ProductComponent" /> -->

			<!-- $loc_WXS_NOTE1$ -->
			<ComponentGroupRef Id="Product.Generated" />
		</Feature>
	</Product>
</Wix>
