<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include $(var.caerrwxi)?>

    <?foreach platform in x86 ?>
        <?include caSuffix.wxi ?>
        <Fragment>
            <CustomAction Id="WixDependencyCheck$(var.Suffix)" BinaryKey="WixDepCA$(var.Suffix)" DllEntry="WixDependencyCheck" Execute="immediate" Return="check" SuppressModularization="yes"/>
            <InstallExecuteSequence>
                <Custom Action="WixDependencyCheck$(var.Suffix)" After="InstallValidate" Overridable="yes"/>
            </InstallExecuteSequence>
            <UIRef Id="WixDependencyErrors"/>
            <PropertyRef Id="DISABLEDEPENDENCYCHECK"/>
            <PropertyRef Id="IGNOREDEPENDENCIES"/>
        </Fragment>

        <Fragment>
            <Binary Id="WixDepCA$(var.Suffix)" SourceFile="!(bindpath.$(var.platform))wixdepca.dll"/>
        </Fragment>
    <?endforeach ?>

    <Fragment>
        <UI Id="WixDependencyErrors">
            <Error Id="$(var.msierrDependencyMissingDependencies)">!(loc.msierrDependencyMissingDependencies)</Error>
            <Error Id="$(var.msierrDependencyHasDependents)">!(loc.msierrDependencyHasDependents)</Error>
        </UI>
    </Fragment>

    <Fragment>
        <Property Id="DISABLEDEPENDENCYCHECK" Secure="yes" SuppressModularization="yes"/>
    </Fragment>

    <Fragment>
        <Property Id="IGNOREDEPENDENCIES" Secure="yes" SuppressModularization="yes"/>
    </Fragment>
</Wix>
