<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
   <!--
     Copyright (c) Microsoft Corporation.  All rights reserved.
    
    The use and distribution terms for this software are covered by the
    Common Public License 1.0 (http://opensource.org/licenses/cpl1.0.php)
    which can be found in the file CPL.TXT at the root of this distribution.
    By using this software in any fashion, you are agreeing to be bound by
    the terms of this license.
    
    You must not remove this notice, or any other, from this software.

     Mba.wxs - Managed UX resources.
   -->
   <Fragment>
      <BootstrapperApplication Id='ManagedBootstrapperApplicationHost' SourceFile='mbahost.dll'>
         <PayloadGroupRef Id='Mba' />
         <PayloadGroupRef Id='MbaPreq' />
      </BootstrapperApplication>
   </Fragment>

   <Fragment>
      <PayloadGroup Id='Mba'>
          <Payload Compressed='yes' SourceFile='BootstrapperCore.dll' />
      </PayloadGroup>
   </Fragment>

   <Fragment>
      <PayloadGroup Id='MbaPreq'>
          <Payload Compressed='yes' SourceFile='mbapreq.dll' />
          <Payload Name='mbapreq.thm' Compressed='yes' SourceFile='!(wix.PreqbaThemeXml=SourceDir\MbaPreqResources\mbapreq.thm)' />
          <Payload Name='mbapreq.wxl' Compressed='yes' SourceFile='!(wix.PreqbaThemeWxl=SourceDir\MbaPreqResources\mbapreq.wxl)' />
          <Payload Name='mbapreq.bmp' Compressed='yes' SourceFile='!(wix.PreqbaLogo=SourceDir\MbaPreqResources\mbapreq.bmp)' />
      </PayloadGroup>
   </Fragment>
</Wix>
