<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Fragment>
        <BootstrapperApplication Id='WixStandardBootstrapperApplication.RtfLicense' SourceFile='wixstdba.dll'>
            <Payload Name='thm.xml' Compressed='yes' SourceFile='!(wix.WixStdbaThemeXml=$(var.RtfThemeXml))' />
            <Payload Name='thm.wxl' Compressed='yes' SourceFile='!(wix.WixStdbaThemeWxl=$(var.RtfThemeWxl))' />
            <Payload Name='logo.bmp' Compressed='yes' SourceFile='!(wix.WixStdbaLogo=$(var.LogoImage))' />

            <Payload Name='!(wix.WixStdbaLicenseRtfName=license.rtf)' Compressed='yes' SourceFile='!(wix.WixStdbaLicenseRtf=$(var.LoremIpsumLicenseFile))' />
        </BootstrapperApplication>

        <CustomTable Id='WixStdbaInformation'>
            <Row>
                <Data Column='LicenseFile'>!(wix.WixStdbaLicenseRtfName=license.rtf)</Data>
            </Row>
        </CustomTable>
    </Fragment>

    <Fragment>
        <BootstrapperApplication Id='WixStandardBootstrapperApplication.HyperlinkLicense' SourceFile='wixstdba.dll'>
            <Payload Name='thm.xml' Compressed='yes' SourceFile='!(wix.WixStdbaThemeXml=$(var.HyperlinkThemeXml))' />
            <Payload Name='thm.wxl' Compressed='yes' SourceFile='!(wix.WixStdbaThemeWxl=$(var.HyperlinkThemeWxl))' />
            <Payload Name='logo.bmp' Compressed='yes' SourceFile='!(wix.WixStdbaLogo=$(var.LogoImage))' />
        </BootstrapperApplication>

        <CustomTable Id='WixStdbaInformation'>
            <Row>
                <Data Column='LicenseUrl'>!(wix.WixStdbaLicenseUrl)</Data>
            </Row>
        </CustomTable>
    </Fragment>

    <Fragment>
        <BootstrapperApplication Id='WixStandardBootstrapperApplication.Foundation' SourceFile='wixstdba.dll' />
    </Fragment>

    <Fragment>
        <CustomTable Id='WixStdbaInformation' BootstrapperApplicationData='yes'>
            <Column Id='LicenseFile' Category='Text' Type='string' Width='0' Nullable='yes' PrimaryKey='yes' />
            <Column Id='LicenseUrl' Category='Text' Type='string' Width='0' Nullable='yes' PrimaryKey='yes' />
        </CustomTable>
    </Fragment>
</Wix>
