//-------------------------------------------------------------------------------------------------
// <copyright file="UnitTest.rc" company="Microsoft">
//    Copyright (c) Microsoft Corporation.  All rights reserved.
// </copyright>
//
// <summary>
//
// </summary>
//-------------------------------------------------------------------------------------------------

#define VER_APP
#define VER_ORIGINAL_FILENAME "BurnUnitTest.dll"
#define VER_INTERNAL_NAME "setup"
#define VER_PRODUCT_NAME "WiX Toolset Bootstrapper unit tests"
#define VER_FILE_DESCRIPTION "WiX Toolset Bootstrapper unit tests"
#include "wix.rc"
