<?xml version='1.0' encoding='utf-8'?>
<!--
  Copyright (c) Microsoft Corporation.  All rights reserved.
    
    The use and distribution terms for this software are covered by the
    Common Public License 1.0 (http://opensource.org/licenses/cpl.php)
    which can be found in the file CPL.TXT at the root of this distribution.
    By using this software in any fashion, you are agreeing to be bound by
    the terms of this license.
    
    You must not remove this notice, or any other, from this software.

  Bundle.wxs - WiX source for the WiX Bundle.
-->

<?include WixVer.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bux="http://schemas.microsoft.com/wix/BuxExtension">
   <Bundle>
      <UX SourceFile="wixux.dll">
          <Payload SourceFile="en-us.wxl" />
          <Payload SourceFile="ps-ps.wxl" />
          <Payload SourceFile="License.rtf" />
          <Payload SourceFile="thm.xml" />
          <Payload SourceFile="wixux.jpg" />
      </UX>

      <bux:Condition Message="Test failure.">VersionNT &gt; v5.0</bux:Condition>

      <Chain>
          <MsiPackage Id='ProjectAggregator2' SourceFile='x86\ProjectAggregator2.msi'/>
          <MsiPackage Id='Wix32' SourceFile='x86\Wix35.msi'/>
          <MsiPackage Id='Wix64' SourceFile='x64\Wix35.msi'/>
      </Chain>
   </Bundle>
</Wix>
