<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) Microsoft Corporation.  All rights reserved.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <Feature Id="WixSwidTag" Title="ISO/IEC 19770-2" Level="1" InstallDefault="local"
                 Display="hidden" AllowAdvertise="no" Absent="disallow" />
    </Fragment>
</Wix>