doctype
html(lang='en')
  head
    include header.jade

  body
    include topbar.jade

    .container
      .content
        include page-header-breadcrumb.jade

        .row!= content

      include footer.jade
